* {
  margin: 0;
  padding: 0;
}
.pageMain {
  overflow: hidden;
}
.contentBox {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.rightValue {
  color: #969799;
}
.rightValueB {
  color: #53BAC1;
}
.rightValueY {
  color: #F8CC85;
}
