<!-- <a routerLink="/app2">app2</a>
<a routerLink="/app3">app3</a>
<a routerLink="/form">form</a>
<a routerLink="/http">http</a> -->
<ul nz-menu [nzMode]="'horizontal'">
  <li nz-menu-item>
    <a routerLink="/">首页</a>
  </li>
  <li nz-menu-item>
    <a routerLink="/app2">app2</a>
  </li>
  <li nz-menu-item>
    <a routerLink="/app3">app3</a>
  </li>
  <li nz-menu-item>
    <a routerLink="/form">form</a>
  </li>
  <li nz-menu-item>
    <a routerLink="/http">http/管道</a>
  </li>
  
</ul>

<router-outlet></router-outlet>
