<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 告诉 Google 不提供此页面的翻译 -->
    <meta name="google" content="notranslate" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../angular/angular.js"></script>
</head>

<body ng-app="myApp">
    <h1>select下拉</h1>
    <div ng-controller="pCtrl">
        <h2>使用 ng-options 创建选择框</h2>
        <select ng-init="selectedName = names[0]" ng-model="selectedName" ng-options="x for x in names">
        </select>
        选择项：{{selectedName}}
        <h2>ng-options 与 ng-repeat</h2>
        <select ng-model="selectedName">
            <option ng-repeat="x in names">{{x}}</option>
        </select>
    </div>
</body>

</html>
<script>
    var app = angular.module("myApp", []);
    app.controller("pCtrl", function ($scope, $http) {
        $scope.name = "name1";
        $scope.selectedName = "";
        $scope.names = ["Google", "Runoob", "Taobao"];
    })
</script>