<!DOCTYPE html>
<html lang="en" ng-app="invoice3">

<head>
    <meta charset="UTF-8">
    <!-- 告诉 Google 不提供此页面的翻译 -->
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../angular/angular.js"></script>
    <script src="finance2.js"></script>
    <script src="invoice2.js"></script>
    <title>Document</title>
</head>

<body>
    <div ng-controller="InvoiceController as invoice">
        <b>订单:</b>
        <div>
            数量: <input type="number" ng-model="invoice.qty" required>
        </div>
        <div>
            单价: <input type="number" ng-model="invoice.cost" required>
            <select ng-model="invoice.inCurr">
                <option ng-repeat="c in invoice.currencies">{{c}}</option>
            </select>
        </div>
        <div>
            <b>总价:</b>
            <button class="btn" ng-click="invoice.pay()">Pay</button> <br>
            {{invoice.jg}} <br>
            {{invoice.qty * invoice.cost}}
        </div>
    </div>
</body>

</html>